<h2>Candles: <%= @candles[0].symbol %></h2>

<table>
  <tr>
    <th>symbol     </th>
    <th>open       </th>
    <th>close      </th>
    <th>min        </th>
    <th>max        </th>
    <th>volume     </th>
    <th>volumequote</th>
    <th>timestamp  </th>
  </tr>
  <% @candles.each do |candle| %>
    <tr>
      <td><%= candle.symbol      %></td>
      <td><%= candle.open        %></td>
      <td><%= candle.close       %></td>
      <td><%= candle.min         %></td>
      <td><%= candle.max         %></td>
      <td><%= candle.volume      %></td>
      <td><%= candle.volumequote %></td>
      <td><%= candle.timestamp   %></td>
    </tr>
<% end %>
</table>
