<h1>Список валютных пар</h1>

<table>
  <tr>
    <th>Currency symbol</th>
    <th>Currency symbol info</th>
    <th>Candles info</th>
  </tr>
  <% @symbols.each do |symbol| %>
    <tr>
      <td><%= symbol.basecurrency + '/' + symbol.quotecurrency %></td>
      <td><%= link_to 'symbol', symbol_path(symbol) %></td>
      <td><%= link_to 'candle', candle_path(symbol) %></td>
    </tr>
  <% end %>
</table>

