<h2>Currency symbol: <%= @symbol.id %></h2>

<table>
  <tr><th>Name</th><th>Value</th></tr>
  <tr> <td>Id</td><td><%= @symbol.id          %></td></tr>
  <tr><td>Basecurrency</td><td><%= @symbol.basecurrency %></td></tr>
  <tr><td>Quotecurrency</td><td><%= @symbol.quotecurrency %></td></tr>
  <tr><td>Quantityincrement</td><td><%= @symbol.quantityincrement %></td></tr>
  <tr><td>Ticksize</td><td><%= @symbol.ticksize %></td></tr>
  <tr><td>Takeliquidityrate</td><td><%= @symbol.takeliquidityrate %></td></tr>
  <tr><td>Provideliquidityrate</td><td><%= @symbol.provideliquidityrate %></td></tr>
  <tr><td>Feecurrency</td><td><%= @symbol.feecurrency %></td></tr>
</table>

<h2>Ticker information</h2>

<table>
  <tr><th>Name</th><th>Value</th></tr>
  <tr><td>symbol     </td><td><%= @ticker.symbol       %></td></tr>
  <tr><td>timestamp  </td><td><%= @ticker.timestamp    %></td></tr>
  <tr><td>ask        </td><td><%= @ticker.ask          %></td></tr>
  <tr><td>bid        </td><td><%= @ticker.bid          %></td></tr>
  <tr><td>last       </td><td><%= @ticker.last         %></td></tr>
  <tr><td>open       </td><td><%= @ticker.open         %></td></tr>
  <tr><td>low        </td><td><%= @ticker.low          %></td></tr>
  <tr><td>high       </td><td><%= @ticker.high         %></td></tr>
  <tr><td>volume     </td><td><%= @ticker.volume       %></td></tr>
  <tr><td>volumequote</td><td><%= @ticker.volumequote  %></td></tr>
</table>


<h2>Trades</h2>

<table>
  <tr>
    <th>id</th>
    <th>symbol</th>
    <th>side</th>
    <th>price</th>
    <th>quantity</th>
    <th>timestamp</th>
  </tr>
  <% @trades.each do |trade| %>
    <tr>
      <td><%= trade.id        %></td>
      <td><%= trade.symbol    %></td>
      <td><%= trade.side      %></td>
      <td><%= trade.price     %></td>
      <td><%= trade.quantity  %></td>
      <td><%= trade.timestamp %></td>
    </tr>
<% end %>
</table>
